<div class="container">
  <h1>Listing characters</h1>

  <p>
    <h>Total Characters: <%= @characters.length %></h>
  </p>

  <% @characters = @characters.sort_by{ |t| t.name}  %>

  <p>
    Click <%= link_to "here", controller: "api", action: "characters" %> to access the API end-point to get the raw data (json)!
  </p>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <p>
    You can add a new character <%= link_to 'here', new_character_path %>
  </p>

  <% @characters.each do |character| %>
    <p>
      <h><%= link_to character.name, character_path(character) %></h>
    </p>
  <% end %>
</div>