<h1>New Character</h1>

<%= form_for @character do |f| %>
<%= f.label :marvel_id, 'Marvel ID' %>
<%= f.text_field :marvel_id %>
<%= f.label :name, 'Name' %>
<%= f.text_field :name %>
<% end %>
<br>
<%= render 'form', character: @character %>

<%= link_to 'Back', characters_path %>
