<p id="notice"><%= notice %></p>
<h1>Marvel character details</h1>
<table>
  <tr><td><%= image_tag "#{@character.image}" %></td></tr>
	<tr><td>Marvel_id: </td><td><%= @character.marvel_id %></td></tr>
	<tr><td>Name: </td><td><%= @character.name %></td></tr>
	<tr><td><h2>Comics related</h2></td></tr>
	<br>

  <tbody>
  		<tr>
        <td>ID</td>
        <td>Title</td>
        <td>Details</td>
      </tr>
    <% @character.comics.each do |comic| %>
      <tr>
        <td><%= comic.id %></td>
        <td><%= comic.title %></td>
        <td><%= link_to 'Show', comic %></td>
      </tr>
    <% end %>
  </tbody>

	<tr><td><%= link_to 'Edit', edit_character_path(@character) %> |
	<%= link_to 'Back', characters_path %></td></tr>
</table>
